# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot secrets
src/main/resources/application.yml

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Env files
.env

# Eclipse / STS
.classpath
.project
.settings/
.springBeans/
.apt_generated/
.factorypath
.sts4-cache/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
