spring:
  application:
    name: task-tracker
  datasource:
    url: jdbc:postgresql://localhost:5432/TASKDB_NAME
    username: YOUR_DB_USERNAME
    password: YOUR_DB_PASSWORD
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    locations: classpath:/db/migration

server:
  port: 8080

logging:
  level:
    org.springframework: INFO
    com.example.tasktracker: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
